#yozuv {
    color: white;
    font-size:50px;
    font-weight: 600;
}

#klaviatura {
    color: white;
    border-radius: 10px;
    background-color: #4a4a4a;
    height: 50px;
    width: 50px;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    border: 1px solid white;
}
#klaviatura::pressed {
    margin: 3px 0 0 3px;
    color: #4a4a4a;
    background-color: white;
}

#asosiy {
    background-color: #232323;
}

#xato {
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    font-weight: 600;
    font-size: 16px;
}
#togri {
    background-color: green;
    color: white;
    border-radius: 10px;
    height: 50px;
    border: 1px solid white;
    width: 50px;
    font-weight: 600;
    font-size: 16px;
}

